@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

/* shared style */
.display-flex {
  display: flex;
}
.text-primary {
  color: #ff900e;
}
/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark 03 */
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

/* header styles */
.header {
}
/* navbar related styles */
.navbar {
  padding-top: 50px;
  padding-bottom: 100px;
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: 700;
  font-size: 2.8rem;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner-related-style */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 30px;
}
.banner-description {
  margin-bottom: 30px;
}
.banner-image {
  width: 100%;
  margin-bottom: 45px;
}
/* team and feature related styles */
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  margin-left: 130px;
  /* margin-bottom: 34px; */
  max-width: 530px;
}
.feature-title {
  font-size: 2.8rem;
  font-weight: 700;
}
#quick-list {
  font-weight: 500;
}
.feature-description {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* features section related styles */
.features {
  gap: 140px;
}
#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.section-title {
  margin: 24px 0;
}
.feature-architect img {
  width: 100%;
}
.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}
.feature-card .feature-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
#experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}
#experience-year {
  font-size: 4rem;
  font-weight: 700;
}

/* some facts related styles */
.facts {
}
.fact-description {
  max-width: 540px;
  margin-bottom: 50px;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border: 2px solid red; */
  gap: 157px;
}
.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
}

/* sponsors related styles */
.sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* footer section */
footer {
  max-width: 1440px;
  height: 100px;
  margin: 130px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff4e7;
  border-radius: 8px;
}

/* small size device */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams,
  .features {
    flex-direction: column;
  }
  .nav-item {
    margin-top: 16px;
  }
  .team-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-container, .sponsor-companies{
    justify-items: center;
    gap: 50px;
  }
  .our-features {
    margin-left: 20px;
    text-align: center;
  }
  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
  footer{
    text-align: center;
  }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }
  .our-features {
    margin: 50px auto;
    text-align: center;
  }
  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
  .sponsor-companies, .facts-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
  }
}
